sudo: false
language: python

python:
- 2.7
#- 3.5

install:
  # Install conda
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda update conda

  # Install dependencies
  #- conda env create -f environment.yml
  - conda create -n IC python=2.7 numpy scipy pandas cython pytest pytables pymysql pip
  - pip install hypothesis
  - pip install hypothesis-numpy
  - pip install flaky
  - source activate IC
  - source env.sh

script:
    - pytest
